@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Onest:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

// Responsive Breakpoint
// Responsive Breakpoint
$media-sm: 640px;
$media-md: 768px;
$media-lg: 1024px;
$media-xl: 1280px;

// Font Variable
$font-caveat: "Caveat", cursive;
$font-poppins: "Poppins", sans-serif;
$font-onest: "Onest", sans-serif;

body {
    font-family: $font-poppins;
}

// 
// Navbar
// 

// Global styling for the navbar

$color_1: #212529;
$color_2: #0085A1;
$background-color_1: rgba(255, 255, 255, 0.9);

@media (min-width: 992px) {
	#mainNav {
		transition: background-color 0.2s;
		transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	#mainNav.is-fixed {
		position: fixed;
		top: -83px;
		transition: transform 0.2s;
		border-bottom: 1px solid white;
		background-color: $background-color_1;
		.navbar-brand {
			color: $color_1;
			&:focus {
				color: $color_2;
			}
			&:hover {
				color: $color_2;
			}
		}
		.navbar-nav {
			>li.nav-item {
				>a {
					color: $color_1;
					&:focus {
						color: $color_2;
					}
					&:hover {
						color: $color_2;
					}
				}
			}
		}
	}
	#mainNav.is-visible {
		transform: translate3d(0, 100%, 0);
	}
}
